.main-banner {
  background-color: #1c1d25 !important;
}

.banner-img {
  position: absolute;
  top: 25%;
  left: 20%;
  opacity: 0.6;
}

.inner-banner .banner-container,
.inner-banner .banner-section {
  min-height: inherit;
}

.banner-container {
  position: relative;
}

.banner-content h1 {
  font-family: "League Spartan", Helvetica, Arial, sans-serif;
  font-size: 4em;
}

.social-links li a img {
  filter: invert(82%) sepia(6%) saturate(611%) hue-rotate(196deg) brightness(91%) contrast(80%);
}

.social-links li a img:hover {
  filter: invert(87%) sepia(75%) saturate(5313%) hue-rotate(183deg) brightness(124%) contrast(100%);
}

/* Media Queries */

@media (min-width: 389px) {
  .banner-img {
    top: 30%;
    left: 34%;
  }
}
@media (min-width: 576px) {
  .banner-img {
    left: 50%;
  }
}
@media (min-width: 768px) {
  .banner-img {
    left: 40%;
  }
}
