.navbar {
  background-color: #1c1d25 !important;
}

.menu-items {
  font-family: "League Spartan";
  color: #b0b2c3;
  position: relative;
}

.menu-items:hover {
  color: #fff;
}

.menu-items::after {
  content: "";
  position: absolute;
  background-color: #f25757;
  height: 4px;
  width: 0;
  left: 0;
  bottom: 0px;
  transition: 0.3s;
}
.menu-items:hover::after {
  width: 100%;
}

.menu-button {
  border: none;
  color: #dbdce4;
}

.menu-button:focus,
.offcanvas-header button:focus {
  box-shadow: none;
}

.offcanvas-end {
  width: 250px !important;
}

@media (max-width: 768px) {
  .menu-items {
    color: #fff;
    font-size: 1.5rem;
  }
  .logo-img {
    height: 45px;
  }
  .offcanvas-end {
    background: linear-gradient(270deg, #235aa6, #101b3b);
    border-left: none !important;
  }
  .menu-items::after {
    height: 0;
  }
}
